.todo_container{
    max-width: 500px;
    margin: 30px auto;
    padding: 28px 20px;
    background-color: bisque;
    border-radius: 5px;
}
.todoForm{
    margin-bottom: 15px;
    position: relative;
}
.todoForm{
    text-align: center;
}
.todoInput{
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 33px 0 0 33px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.add_btn{
    position: absolute;
    right: 10%;
    top: 0;
    padding: 10px 25px;
    border-radius: 33px;
    font-size:18px ;
    cursor: pointer;
    background-color: rgb(230, 133, 133);
    color: #fff;
}
.todo_items{
    font-size: 18px;
}